<nav class="modern-navbar">
    <div class="navbar-container">
        <div class="navbar-brand">
            <a href="/">Saleswaves.mn</a>
        </div>

        <input type="checkbox" id="nav-toggle" class="nav-toggle" />
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <div class="navbar-menu">
            <CurrencyRate />
            <a href="/" class="nav-link-modern">Home</a>
            <a href="/#services" class="nav-link-modern">Services</a>
            <a href="/#about" class="nav-link-modern">About</a>
            <a href="/#contact" class="nav-link-modern">Contact</a>
            <a href="/mn" class="nav-link-modern lang-switch">MN</a>
        </div>
    </div>
</nav>
